[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"

[dev-packages]
black = "*"
isort = "*"
invoke = "*"
pre-commit = "*"

[requires]
python_version = "3.10"

[scripts]
api = "uvicorn demo.api:app --reload"
